node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
.openzeppelin/unknown-1564830818.json
.openzeppelin/mainnet.json
